page-mi-altotonga {
    
        /* .bg-image {
            background-image: url('../assets/imgs/back.jpg');
            background-repeat: repeat;
            background-position: center;
            background-size: contain;
        }*/
        .bd-color{
            background-color: rgb(12, 192, 247);
        }
       
}
